<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: Georgia;
        }
        .container{
          height: 1vh;
          margin: 4%;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <img src="assets/oficina.jpg" alt="">
        <div class="text-box"></div>
        <h1>Instalación de Sistemas Operativos</h1>
        <p>Ofrecemos Rapidez y Seguridad a la Horas de Instalar Sistemas Operativos desde 0.</p>
        <pre></pre>
        <h1>Instalación de Software de Oficina</h1>
        <p>Incluimos todos los programas necesarios para una buena experiencia en su trabajo.</p>
        <pre></pre>
        <h1>Reparación de Computadoras</h1>
        <p>Trabajamos desde la Reparación del sistema hasta Reparación de Hardware y Reemplazo de Partes defectuosas</p>
    </div>
    
</body>
</html>